<script src="/javascript/lib/jquery.form.js"></script> 
<script src="/javascript/app.js"></script>

<div class="span4">
  <h1>Fleets</h1>
  <div id="fleets"> </div>
  <%= button_to_function "New Fleet", "new_fleet();", :class => "btn-primary btn-large" %>
</div>
<div class="span4">
  <h1>Monsters</h1>
  <div id="monsters"> </div>
  <%= button_to_function "New Monster", "new_monster();", :class => "btn-primary btn-large" %>
</div>

<script type="text/template" id="monster-template">
  <div class="well monster  {% if(!isValid()){ %} has_errors {% } %}">
    <span class="destroy">X</span>
    <h3 contentEditable='true' data="name" class='name editable inline'>{= get('name') =}</h3>
    <p contentEditable='true' data="description" class='description editable'>{= get('description') =}</p>
    <div class='imgeditable editable' data="{= get('id') =}">
      <img data="image_url" src='{= get('image_url') =}'></img>
    </div>
    <div class="my_fleet">
    </div>
  </div>
</script>

<script type="text/template" id="fleet-mini-template">
  <div class="one_fleet well fleet" style="background-color:#{= get('color') =}">
    <img style="width:25px;height:25px;" src='{= get('image_url') =}'></img>
    <bold class='name inline'>{= get('name') =}</bold>
  </div>
</script>

<script type="text/template" id="fleet-multi-template">
  <h4>Select the fleet to which this moster belongs</h4>
  {% _.each(models, function(fleet){  %}
    <div data="{= fleet.get('id') =}" class="many_fleet well fleet" style="background-color:#{= fleet.get('color') =}">
      <img style="width:25px;height:25px;" src='{= fleet.get('image_url') =}'></img>
      <bold class='name inline'>{= fleet.get('name') =}</bold>
    </div>
    {% }); %}
</script>

<script type="text/template" id="fleet-template">
  <div class="well fleet  {% if(!isValid()){ %} has_errors {% } %}" style="background-color:#{= get('color') =}">
    <span class="destroy">X</span>
    <h3 contentEditable='true' data="name" class='name editable inline'>{= get('name') =}</h3>
    <p contentEditable='true' data="description" class='description editable'>{= get('description') =}</p>
    <p>#<strong contentEditable='true' data="color" class='color editable'>{= get('color') =}</strong></p>
    <div class='imgeditable editable' data="{= get('id') =}">
      <img data="image_url" src='{= get('image_url') =}'></img>
    </div>
  </div>
</script>

<script type="text/template" id="monster-file-template">
  <form action='/monsters/{= id =}' method="post" enctype="multipart/form-data">
    <input name="_method" type="hidden" value="put">
    <input name="monster[image]" type="file">
    <input name="commit" type="submit" value="Update Monster" class="btn-primary">
  </form>
</script>

<script type="text/template" id="fleet-file-template">
  <form action='/fleets/{= id =}' method="post" enctype="multipart/form-data">
    <input name="_method" type="hidden" value="put">
    <input name="fleet[image]" type="file">
    <input name="commit" type="submit" value="Update Fleet" class="btn-primary">
  </form>
</script>



<script src="/javascript/lib/underscore-1.3.3.js"></script>
<script type="text/javascript">
  _.templateSettings = {
interpolate : /\{=([\s\S]+?)=\}/g,
               evaluate : /\{%([\s\S]+?)%\}/g
  };
</script>

<script src="/javascript/lib/backbone.js"></script>
<script src="/javascript/lib/bootstrap.js"></script>
<script src="/javascript/monster_fleet.js"></script>
