<script src="http://malsup.github.com/jquery.form.js"></script> 

<script type="text/javascript">
  $(document).ready(function(){

      $('div.destroy').live('click', function(){
        $(this).trigger('destroy');
        })

      $('[contenteditable]')
      .live('focus', function(){
        $(this).data('before', $(this).text())
        })
      .live('blur', function(){
        if($(this).data('before') != $(this).text()){
        $(this).trigger('change');
        }
        });

      $('.imgeditable')
      .live('click', function(){
        if($(this).find('form').length != 0){
        return true;
        }else{
        var id = parseInt($(this).attr('data'));
        var templ = _.template($('#monster-file-template').html());
        $(this).html(templ({id : id}));
        $(this).find('form').ajaxForm(function() {
          for(var i in monsters.models){
          if(monsters.models[i].attributes.id == id){
          monsters.models[i].fetch();
          break;
          }
          }
          }); 
        }
        })
  .live('blur', function(){
      if($(this).data('before') != $(this).text()){
      $(this).trigger('change');
      }
      });

  monsters.fetch({
success: function(e){
e.each(function(m){
  new MonsterView({model:m});
  });
}
});

$('#forms > form').ajaxForm(function() {
    $('#monsters').html('');
    monsters.reset();
    $('#forms > form input, #forms > form textarea').val('');

    monsters.fetch({
success: function(e){
e.each(function(m){
  new MonsterView({model:m});
  });
}
});

    });
})


</script>

<div id="monsters">
</div>

<div id="forms">
  <%= render :partial => 'form' %>
</div>

<script type="text/template" id="monster-template">
  <div class="monster">
    <div class="destroy"></div>
    <h3 contentEditable='true' data="name">{{ name }}</h3>
    <p contentEditable='true' data="description">{{ description }}</p>
    <div class='imgeditable' data="{{ id }}">
      <img data="image_url" src='{{ image_url }}'></img>
    </div>
  </div>
</script>


<script type="text/template" id="monster-file-template">
  <form action='/monsters/{{ id }}' method="post" enctype="multipart/form-data">
    <input name="_method" type="hidden" value="put">
    <input name="monster[image]" type="file">
    <input name="commit" type="submit" value="Update Monster">
  </form>
</script>

<script src="/javascript/lib/underscore-1.3.3.js"></script>
<script>
  _.templateSettings = {
    interpolate : /\{\{([\s\S]+?)\}\}/g
  };
</script>

<script src="/javascript/lib/backbone.js"></script>
<script src="/javascript/lib/bootstrap.js"></script>
<script src="/javascript/monster_fleet.js"></script>
