.top-row {
  padding-top: 50px;
}
.has_errors {
  border: 2px solid red;
}
.monster .name {
  min-width: 10px;
  display: inline-block;
}
.monster .editable:hover  {
  border-left: 1px solid red;
}
.monster > .inline {
  display: inline-block;
  margin-left: 10px;
}
.destroy { font-size: 12px; cursor: pointer; }
.destroy:hover { background-color: red; }
