<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

 <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
     xmlns:og="http://ogp.me/ns#"
     xmlns:fb="http://www.facebook.com/2008/fbml">


<head>
  <title>MonsterFleet</title>

<meta charset="utf-8"/>
<title>Manage your Monster Fleet (with Backbone !)</title>
<meta name="description" content="Monster Fleet Management"/>
<link rel="stylesheet" href="/stylesheets/bootstrap.css"/>
<link rel="stylesheet" href="/stylesheets/style.css"/>
<script src="/javascript/lib/jquery-1.7.1.js"></script>
</head>

<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">

        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Monster Fleet Management</a>
        <div class="nav-collapse">
          <p class="navbar-text pull-right">Management</p>
        </div>
      </div>
    </div>
  </div>

  <div class="top-row">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">
            <ul class="nav nav-list">Uno</ul>
            <ul class="nav nav-list">Dos</ul>
            <ul class="nav nav-list">Tres</ul>
          </ul>
        </div>
      </div>

      <div class="span9">
        <%= yield %>
      </div>
    </div>

    <script src="/javascript/lib/underscore-1.3.3.js"></script>
    <script>
      _.templateSettings = {
        interpolate : /\{\{([\s\S]+?)\}\}/g
      };
    </script>
    <script src="/javascript/lib/backbone.js"></script>
    <script src="/javascript/lib/bootstrap.js"></script>

    <script src="/javascript/monster_fleet.js"></script>

  </body>
